<mjml>
  <mj-head>
    <mj-breakpoint width="600px" />
    <mj-attributes>
      <mj-all color="#2C2C2C" font-family="Arial" padding="0" />
      <mj-class name="email-header" align="center" font-size="26px" font-weight="bold" line-height="30px" padding="30px 20px" />

      <mj-class name="alert-card" background-color="#ffffff" padding="20px" margin="10px" border-radius="10px" border="1px solid #dddddd" />
      <mj-class name="alert-heading" align="left" font-size="20px" font-weight="bold" line-height="20px" padding="5px 0px 10px 0px"/>
      <mj-class name="alert-subheading" align="left" font-size="18px" font-weight="bold" line-height="20px" padding="5px 0px 10px 0px" color="#bf9b30"/>
      <mj-class name="alert-description" align="left" font-size="16px" line-height="20px" padding="5px 0px 10px 0px"/>
      <mj-class name="alert-text" align="left" font-size="14px" line-height="20px" padding="5px 0px 10px 0px"/>

      <mj-class name="alert-title-card" background-color="#bf9b30" padding="20px" margin="10px" border-radius="10px" border="1px solid #dddddd" />
      <mj-class name="alert-title" align="center" font-size="18px" font-weight="bold" line-height="20px" padding="5px 0px 10px 0px" color="#ffffff"/>
      <mj-class name="alert-metrics" align="center" font-size="18px" line-height="20px" padding="5px 0px 10px 0px"/>

      <mj-class name="article-card" background-color="#ffffff" padding="20px" border-radius="10px" border="1px solid #dddddd" />
      <mj-class name="article-text-content" padding="0 0 10px 20px" width="60%" />
      <mj-class name="article-title" align="left" font-size="18px" font-weight="bold" line-height="24px" padding="0 0 10px 0" />
      <mj-class name="article-summary" align="left" font-size="14px" line-height="19px" padding="0 0 10px 0" />

      <mj-class name="announcement-btn" background-color="bf9b30" border="3px solid darkgoldenrod" padding="12px 24px" border-radius="10px" align="center" inner-padding="12px 24px" font-size="18px" align="center"line-height="20px" color="#ffffff"/>
    </mj-attributes>
  </mj-head>

  <mj-body background-color="#f5f5f5">
    <!-- Email Header -->
    <mj-wrapper padding="20px 20px">
      <mj-section>
        <mj-column>
          <mj-text mj-class="email-header">
            ⚒Our systems detected a potentially significant announcement from {{ article_meta.company }} ({{ article_meta.ticker }})⚒
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- Alert Details -->
      <mj-section mj-class="alert-title-card">
        <mj-column>
          <mj-text mj-class="alert-title">
            {{ alert_meta.drill_results.title }}
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- Spacer -->
      <mj-section>
        <mj-column>
          <mj-spacer height="20px" />
        </mj-column>
      </mj-section>

      <mj-section mj-class="alert-card">
        <mj-column>
          <mj-text mj-class="alert-metrics">
            <div style="font-size: 23px; display: inline-block; border: 3px solid #bf9b30; border-radius: 10px; padding: 5px 10px;"><b>Score:</b> {{ alert_meta.drill_score }}</div>
          </mj-text>
          <mj-text mj-class="alert-text">
            <b>Best Result:</b> {{ assay }}
          </mj-text>
          <mj-text mj-class="alert-text">
            <b>Market Cap:</b> {{ market_cap }}
          </mj-text>
          <mj-text mj-class="alert-text">
            <b>Report Type:</b> {{ report_type }}
        </mj-column>
      </mj-section>

      <!-- Spacer -->
      <mj-section>
        <mj-column>
          <mj-spacer height="20px" />
        </mj-column>
      </mj-section>

      <mj-section mj-class="alert-card">
        <mj-column>
          <mj-text mj-class="alert-subheading">
            Project Details
          </mj-text>
          <mj-text mj-class="alert-text">
            <b>Name:</b> {{ alert_meta.drill_results.project_name }}
          </mj-text>
          <mj-text mj-class="alert-text">
            <b>Prospect:</b> {{ alert_meta.drill_results.prospect_name }}
          </mj-text>
          <mj-text mj-class="alert-text">
            <b>Region:</b> {{ alert_meta.drill_results.project_region }}
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- Spacer -->
      <mj-section>
        <mj-column>
          <mj-spacer height="20px" />
        </mj-column>
      </mj-section>

      <mj-section mj-class="alert-card">
        <mj-column>
          <mj-text mj-class="alert-subheading">
            Technical Summary
          </mj-text>
          {% for hole in alert_meta.drill_results.significant_assays %}
          <mj-text mj-class="alert-text">
            {{ hole }}
          </mj-text>
          {% endfor %}
          <mj-text mj-class="alert-description">
            {{ alert_meta.drill_results.technical }}
          </mj-text>
          
          {% if alert_meta.drill_results.quote != "N/A" %}
          <mj-text padding="20px 0 10px 0">
            <div style="font-size:16px; line-height:24px; padding:20px 20px 20px 30px; background-color:#faf8f2; border-left:4px solid #bf9b30; font-style:italic; color:#555555;">
              {{ alert_meta.drill_results.quote_content}}
            </div>
            <div style="font-size:14px; line-height:20px; padding:5px 30px 0 0; text-align:right; color:#777777; font-style:normal;">
              — {{alert_meta.drill_results.quote_name}}, {{alert_meta.drill_results.quote_position}}
            </div>
          </mj-text>
          {% endif %}

          <mj-text mj-class="alert-subheading">
            Catalysts
          </mj-text>
          <mj-text mj-class="alert-description">
            {{ alert_meta.drill_results.projection }}
          </mj-text>

          <mj-button mj-class="announcement-btn" href={{ article_meta.document }}>
            <b>VIEW DOCUMENT</b>
          </mj-button>

        </mj-column>
      </mj-section>

      <!-- Spacer -->
      <mj-section>
        <mj-column>
          <mj-spacer height="20px" />
        </mj-column>
      </mj-section>


      <!-- Article Card -->
      <mj-section mj-class="article-card">
        <mj-group>
          <mj-column width="40%">
            <mj-image
              src="{{ article_meta.image }}"
              href="{{ article_meta.url }}"
              alt="{{ article_meta.title }}"
              width="400px"
              height="200px"
              border-radius="20px"
            />
          </mj-column>
          <mj-column mj-class="article-text-content">
            <mj-text mj-class="article-title">
              <a href="{{ article_meta.url }}" style="color: #000000; text-decoration: none;">
                {{ article_meta.title }}
              </a>
            </mj-text>
            <mj-text mj-class="article-summary">
              {{ article_meta.summary }}
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>

      <!-- Spacer -->
      <mj-section>
        <mj-column>
          <mj-spacer height="20px" />
        </mj-column>
      </mj-section>

      <!-- Footer -->
      <mj-section padding="20px 40px" text-align="center">
        <mj-column width="90%" vertical-align="middle">
          <mj-text font-size="11px" color="#888888">
            You are receiving this email because you subscribed to RockStocks Alerts.
          </mj-text>
        </mj-column>
        <mj-column width="10%" vertical-align="middle">
          <mj-image
            src="https://rtwimages.s3.ap-southeast-2.amazonaws.com/LOGO.svg"
            href="https://www.rockstocks.ai"
            alt="Logo"
            width="40px"
            height="40px"
            padding="0"
          />
        </mj-column>
      </mj-section>

    </mj-wrapper>
  </mj-body>
</mjml>