OPENAI_KEY = 
MONGODB_KEY = 
ASX_API_USERNAME = 
ASX_API_PASSWORD = 
AWS_ACCESS_KEY = 
AWS_SECRET_KEY = 
WEBFLOW_ARTICLE_COLLECTION_ID = 
WEBFLOW_ANNOUNCEMENT_COLLECTION_ID = 
WEBFLOW_SECTOR_COLLECTION_ID = 
WEBFLOW_INDUSTRY_COLLECTION_ID = 
WEBFLOW_STOCK_COLLECTION_ID = 
WEBFLOW_API_KEY =
TWITTER_BEARER_TOKEN =
TWITTER_API_KEY =
TWITTER_API_SECRET =
TWITTER_ACCESS_TOKEN =
TWITTER_ACCESS_SECRET =
MAXIMUM_ARTICLES = 6000